In [1]:
import pandas as pd
from basilisk import Node, BN

%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# construct graph

C = Node("cloudy")
R = Node("rain", [C])
S = Node("sprinkler", [C])
W = Node("wet", [R, S])

ls_n = [C, R, S, W]

model = BN(ls_n)
# model.show(node_size=1000, node_color='gray')

In [3]:
# fit model with joint observations
obs = pd.read_csv("data/observations.csv").drop("Unnamed: 0", axis=1)
model.fit(obs)

In [4]:
# examine cpt for each node
R.cpt

rain  cloudy     False      True
0      False  0.788260  0.211740
1       True  0.206501  0.793499

In [6]:
# generate batch samples
leaf_node = R
b = model.generate_samples(leaf_node, n_samples=1000)
b.head()

100%|██████████| 1000/1000 [00:04<00:00, 219.96it/s]

  cloudy   rain
0  False  False
1   True  False
2   True  False
3   True   True
4  False  False

In [7]:
# corresponding joint probability should be similar to computed joint probability
joint_obs = pd.crosstab(b["cloudy"], b["rain"], normalize = 'index').reset_index()
joint_obs

rain cloudy     False      True
0     False  0.801282  0.198718
1      True  0.169173  0.830827