In [1]:
import pandas as pd
from basilisk import Node, BN

%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# construct graph

C = Node("cloudy")
R = Node("rain", [C])
S = Node("sprinkler", [C])
W = Node("wet", [R, S])

ls_n = [C, R, S, W]

model = BN(ls_n)
# model.show(node_size=1000, node_color='gray')

In [3]:
# fit model with joint observations
obs = pd.read_csv("data/observations.csv").drop("Unnamed: 0", axis=1)
model.fit(obs)

In [24]:
# examine cpt for each node
R.cpt

rain  cloudy     False      True
0      False  0.788260  0.211740
1       True  0.206501  0.793499

In [43]:
# generate batch samples
leaf_node = R
b = model.generate_samples(leaf_node, n_samples=1000)

In [44]:
# corresponding joint probability should be similar to computed joint probability
joint_obs = pd.crosstab(b["cloudy"], b["rain"], normalize = 'index').reset_index()
joint_obs

rain cloudy     False      True
0     False  0.796178  0.203822
1      True  0.194707  0.805293