In [13]:
import pandas as pd
import numpy as np

def is_cloudy():
    """cloudy is an independent random variable.
    """
    return (np.random.random() < .5)
    
def is_sprinkler(cloudy):
    """sprinkler is dependent on cloudiness. if it is 
    cloudy, sprinkler has a 10% of being on. otherwise, 
    if it is sunny, then the sprinkler has a 50% of being 
    on.
    """
    if cloudy:
        return (np.random.random() < .1)
    else:
        return (np.random.random() < .5)

def is_rain(cloudy):
    if cloudy:
        return (np.random.random() < .8)
    else:
        return (np.random.random() < .2)
    
def is_wet(sprinkler, rain):
    if ((sprinkler == True) & (rain == True)):
        return (np.random.random() < .99)
    elif ((sprinkler == False) & (rain == True)):
        return (np.random.random() < .9)
    elif ((sprinkler == True) & (rain == False)):
        return (np.random.random() < .9)
    else:
        return False

In [14]:
# generate toy dataset via sampling (we couldve done this by multiplying probabilities)

n_samples = 10000

ls_c = []
ls_s = []
ls_r = []
ls_w = []

for _ in range(n_samples):
    c = is_cloudy()
    s = is_sprinkler(c)
    r = is_rain(c)
    w = is_wet(s, r)
    
    ls_c.append(c)
    ls_s.append(s)
    ls_r.append(r)
    ls_w.append(w)

collection = {"cloudy": ls_c, "sprinkler": ls_s, "rain": ls_r, "wet": ls_w}

In [15]:
# joint observations
df = pd.DataFrame(collection)
df.head()

   cloudy   rain  sprinkler    wet
0    True   True      False   True
1    True   True      False  False
2   False  False      False  False
3   False  False       True   True
4   False   True       True   True

In [19]:
parent = []
child = 'cloudy'

In [20]:
ps = [df[x] for x in parent]
cs = df[child]

In [21]:
# https://stackoverflow.com/questions/53510319/python-pandas-merging-with-more-than-one-level-overlap-on-a-multi-index-is-not
pd.crosstab(ps, cs, normalize = 'index').reset_index()

cloudy      index   False    True
0       __dummy__  0.4985  0.5015